<!-- <app-root></app-root> -->
<header>
    <div class="logo">
        fincords
    </div>
    <nav>
        <ul>
            <li><button type="button" class="button" routerLink="/" routerLinkActive="active">Login</button></li>
        </ul>
    </nav>
</header>

<body>
    <div class="row row-1">
        <div class="col-sm-12 col-md-6">
            <div class="body-text">
                Track your business transaction <br> in no time.
            </div>
            <div class="begin-btn">
                <button class="button" data-bs-toggle="modal" data-bs-target="#loginModal">Get started</button>
            </div>
        </div>
    </div>
    <div class="row row-2">
        <h2>Miss records no more, keep them aligned.</h2>
    </div>
</body>

<footer class="footer">
    <p>&copy; 2024 shamilmuhyin. All rights reserved</p>
</footer>

<!-- login modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Login</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="mobileNumber" class="form-label">Mobile Number</label>
                        <input type="text" class="form-control" id="mobileNumber" formControlName="mobileNumber"
                            placeholder="Enter your mobile number">
                        <div *ngIf="loginForm.get('mobileNumber')?.invalid && (loginForm.get('mobileNumber')?.touched || loginForm.get('mobileNumber')?.dirty)"
                            class="text-danger">
                            <small *ngIf="loginForm.get('mobileNumber')?.errors?.['required']">Mobile Number is
                                required.</small>
                            <small *ngIf="loginForm.get('mobileNumber')?.errors?.['pattern']">Invalid format</small>
                        </div>
                    </div>
                    <div *ngIf="isOTPSent" class="mb-3">
                        <label for="otp" class="form-label">OTP</label>
                        <input type="text" class="form-control" id="otp" formControlName="otp" placeholder="Enter OTP">
                        <div *ngIf="loginForm.get('otp')?.invalid && (loginForm.get('otp')?.touched || loginForm.get('otp')?.dirty)"
                            class="text-danger">
                            <small *ngIf="loginForm.get('otp')?.errors?.['required']">OTP is required.</small>
                            <small *ngIf="loginForm.get('otp')?.errors?.['pattern']">OTP must be 6 digits.</small>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button *ngIf="!isOTPSent" type="button" class="btn btn-primary" (click)="requestOTP()">Request
                        OTP</button>
                    <button *ngIf="isOTPSent" type="submit" class="btn btn-primary"
                        [disabled]="loginForm.invalid">Submit</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>